body {
    background: #EFEFFF;
    font-family: Nunito;
}

.content-margin {
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 50px;
    position: relative;
    z-index: 1;
}

.dark_mode {
    background: #374955;
    color: #FFFFFF;
}

  .dark_mode a {
    color: #dc7be3;
  }

  .dark_mode a:hover {
    color: #76d3f5;
  }

  .dark_mode h1 {
    font-family: Raleway;
    color: #7C177C;
    text-decoration: underline;
    text-decoration-color: #00AACE;
    text-decoration-style: solid;
    text-decoration-thickness: 6px;
    text-shadow: none;
  }

  .dark_mode h2 {
    color: #a59ff6;
    text-decoration-color: #dc7be3;
  }

  .dark_mode h3 {
    color: #a59ff6;
    text-decoration-color: #76d3f5;
    text-decoration-color: #dc7be3;
  }

  .dark_mode u {
    text-decoration-color: #ffffff;
  }

  .dark_mode h4 {
    color:#73e7e1;
  }

  .dark_mode button {
    background: #6d6fbe;
  }

/* For Google Fonts Resources*/
/* <weight>: Use a value from 200 to 1000 */
/* <uniquifier>: Use a unique and descriptive class name */

.nunito-Nunito {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.raleway-Raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.cabin-Cabin {
  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.fab fa-linkedin {
    font-size: 45px;
}

h1 {
    font-family: Raleway;
    color: #7C177C;
    text-decoration: underline;
    text-decoration-color: #00AACE;
    text-decoration-style: solid;
    text-decoration-thickness: 6px;
    text-shadow: 0 0 20px #04a4fa,
    0 0 10px #EFEFFF;
}

h2 {
    font-family: Raleway;
    color: #00839A;
    text-decoration: underline;
    text-decoration-color: #7C177C;
    text-decoration-style: dashed;
    text-decoration-thickness: 3.5px;
}

h3 {
    color: #7C177C;
    text-decoration: underline;
    text-decoration-color: #7C177C;
    text-decoration-thickness: 2.5px;
    text-shadow: 
    -1px -1px 0 #EFEFFF,  
     1px  1px 0 #EFEFFF;
}

h4 {
    color: #7C177C;
}

h5 {
    font-family: Raleway;
    color: #ffffff;
    text-decoration: underline;
    text-decoration-color: black;
    text-decoration-thickness: 2px;
    font-size: 15px;
}

p {
    font-family: Nunito;
}

hr {
    color: #7C177C;
    height: 10px;
    background: linear-gradient(90deg, #952fa7, #564CAE, #00b2de);
    border: 1px;
    border-color:#FFFFFF;
}

/* Customization for the Buttons */
button {
    background: #00839A;
    color: #FFFFFF;
    text-decoration: none;
    font-family: Cabin;
}

a {
    color: #7C177C;
    font-family: Nunito;
    /* Removes the connecting underline between buttons */
    text-decoration: none;
    justify-content: center;
    align-items: center;
    display: flex;
}

a:hover {
    color: #ffffff;
}

button:hover {
    background: linear-gradient(90deg, #530753, #7C177C, #564CAE, #008FDE, #00b2de);
}

.wrap {
    display: flex;
    align-items: baseline; 
    margin-bottom: 5px; 
}

.wrap h4 {
    margin: 0; 
    margin-right: 5px; /* Adds space between the elements */
}

.Navigation {
    overflow: hidden;
}
/* Customizing each link in the Navigation Bar */
.Navigation a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    font-size: 16px;
    text-decoration: none;
    font-family: Cabin;
}

.Navigation a.active {
    background-color: #7C177C;
    color: white;
}

.Navigation .icon {
    display: none;
}

.photo {
  float: left;
  width: 10%;
  max-width: 10%;
  padding: 10px;
}

/* Style the images inside the gallery divider */
.photo img {
  opacity: 0.5; 
  cursor: pointer; 
}

.photo img:hover {
  opacity: 1;
}

/* Clear floats that appear naturally after a photo */
.gallery:after {
  content: "";
  display: table;
  clear: both;
}

/* For expanding a selected image */
.images-container {
  position: relative;
  display: none;
  align-items: center;
  max-width: 50%;
  max-height: 50%;
}

/* A close button to shrink a photo */
.close-button {
  position: absolute;
  top: 2px;
  right: 15px;
  color: #7C177C;
  font-size: 50px;
  cursor: pointer;
  /* For a border around the space of the X
  border: 3px solid black;
  border-color:#7C177C;
  */
}

/* For the horizontal scrolling image gallery
div.image-gallery {
    background-color: #333;
    overflow: scroll;
    white-space: nowrap;
    padding: 10px;
}

div.image-gallery img {
    padding: 10px;
}
*/

#load-animation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(59deg, #7C177C, #564CAE, #add8e6);
  z-index: 9999;
  transition: opacity 0.8s ease;
}

/*
#load-screen-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("website-images/coding-and-game-design/IMG_8439.jpeg");
  background-size: cover;
  background-position: center;
  filter: brightness(30%) blur(8px);
  z-index: -1;
}
*/

.load-container {
  width: 350px;
  height: 20px;
  border: 2.5px solid #000000;
  padding: 3px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
  display: flex;
  overflow: hidden;
}

#progress-fill {
  width: 0%; 
  height: 100%;
  background: linear-gradient(90deg, #248a74, #2b9a5d, #5aaf36);
  box-shadow: 0 0 20px rgb(255, 255, 255);
  transition: width 0.2s ease-out;
}

#loading-text {
  margin-top: 20px;
  color: #EFEFFF;
  font-size: 1.2rem;
  letter-spacing: 1px;
  text-shadow: 0 0 18px #530753;
  font-weight: bold;
  text-decoration: underline;
}

.background-frame {
  position: fixed;
  width: 100vw;
  height: 100vh;
  max-width: none;
  aspect-ratio: auto;
  background-color: #EFEFFF;
  background-size: cover;
  overflow: hidden;
  z-index: -1;
}

.background-frame::before {
  content:"";
  position: fixed;
  top: -10%;
  left: -10%;
  right: -10%;
  bottom: -10%;
  background-image: url('website-images/IMG_8439.jpeg');
  z-index: 2;
  -webkit-mask-image: radial-gradient(circle, transparent 50%, black 100%);
  mask-image: radial-gradient(circle, transparent 30%, black 90%);
  will-change: transform;
}

body.dark_mode .background-frame {
    display: none;
}

@media screen and (max-width: 600px) {
    .Navigation a.icon {
        float: right;
        display: block;
    }
    .resume {
        height: 50%;
    }
}

@media screen and (max-width: 600px) {
    .Navigation.responsive {position: relative;}
    .Navigation.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .Navigation.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

@media screen and (max-width: 600px) {
  .load-container {
    width: 80%;
    height: 15%;
  }

  #loading-text {
    font-size:0.9rem;
    letter-spacing: 1.5px;
  }

  .load-screen.background{
    filter: brightness(30%) blur(4%)
  }
}

@media screen and (max-width: 600px) {
    .background-frame {
      width: 95%;
      aspect-ratio: 4/5;
    } 

    .background-frame::before {
      -webkit-mask-image: radial-gradient(circle, transparent 50%, black 110%);
      mask-image: radial-gradient(circle, transparent 50%, black 110%);
    }
  }
